.main-header {
    background-color: #fff1ed;
    height: 110px;
}

.containerDeNavbarHome {
    padding: 0rem 0.25rem 0rem 0.25rem !important;
    flex-direction: inline; 
    align-items: center; 
}

.logo-img {
    width: 13rem;
    height: auto;
    min-width: 10rem;
}

.landingButton {
    color: black;
}

.navbar-expand-lg {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
  
.landingNav .itemNav {
    margin-right: 15px; 
}

.nav-link-black {
    color: black;
    display: flex; 
    align-items: center; 
  }

#navbarNav {
    justify-content: right;
}